
.customForm{
    margin-bottom: 5%;
    background-color: rgba(0, 0, 7, 0.9);
    border-style: solid;
    border-width: 3px;
    border-color: azure;

}
.removeBtn:hover{
    opacity:0.8;
}
hr{
    height: 4px;
}
.showFormBtn {
    margin-bottom:5%;

}

.innerForm {
    margin-top:10%;
    margin-bottom:10%;
}

.iconCell {
    border-style: solid;
    border-width: 1px;
    border-color: azure;
    background-color: rgba(89, 83, 90, 0.65);
}
.statsCell {
    border-style: solid;
    border-width: 1px;
    border-color: azure;
    font-size:15px;
    color:white;
}
.resultRow {
    height:350px;
    background-color: rgba(37, 37, 39, 0.89);
    border-style: solid;
    border-width: 1px;
    border-color: azure;
}
body {
    background-image: url("../images/poebackground.jpg");
    font-family: "HelveticaNeueLT Pro 55 Roman";
}
h3 {
    font-weight: bold;
    color:#cec59f;
}
.customText{
    color:#886A08;
    font-size: 20px;
}
.displayImage{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle

}
.searchButton {
    background-color: #886A08;; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
.searchButton:hover{
    opacity:0.8;
}
.selectText {
    font-size:18px;
}
.smallImg {
    height:45px;
    width:45px;
}
.mediumImg {
    height:110px;
    width:110px;
}
.mediumSmallImg {
    height:80px;
    width:80px;
}
.largeImg{
    height:170px;
    width:150px;
}

.white{
    color:#eee;
}
.magic{
    color:#5050EB;
}
.rare{
   color:#a3a314;
}
.unique{
    color:#af6025;
}
.requirements{
    color:#999;
}
.gem{
    color:#1ba29b;
}
.socketInt{
    background-image: url("../images/socketInt.png");
    width: 47px;
    height: 47px;
}
.socketDex{
    background-image: url("../images/socketDex.png");
    width: 47px;
    height: 47px;
}
.socketStr{
    background-image: url("../images/socketStr.png");
    width: 47px;
    height: 47px;
}
.socketCor{
    background-image: url("../images/socketCor.png");
    width: 47px;
    height: 47px;
}
.linkHori{
    background-image: url("../images/linkHorizontal.png");
    width: 38px;
    height: 16px;
}
.linkVerti{
    background-image: url("../images/linkVertical.png");
    width: 16px;
    height: 38px;
}

.linkHori1{
    z-index: 1000;
    position: absolute;
    top: 15px;
    left: -20px;
}
.linkHori2{
    z-index: 1000;
    position: absolute;
    top: 15px;
    left: 30px;
}
.linkHori3{
    z-index: 1000;
    position: absolute;
    top: 15px;
    left: -20px;
}
.linkVerti1{
    z-index: 1000;
    position: absolute;
    top: -20px;
    left: 15px;
}
.linkVerti2{
    z-index: 1000;
    position: absolute;
    top: -20px;
    left: 15px;
}


.socket1{
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 70px;
}
.socket2{
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 120px;
}
.socket3{
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 120px;
}
.socket4{
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 70px;
}
.socket5{
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 70px;
}
.socket6{
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 120px;
}
.icon{
    position: relative;
    left: 0;
    top: 0;
}
.modBtn{
    text-align:left;
    background-color: #E2E7EA;
    color: black;
    border-bottom-color: white;
    margin-bottom:20px;
}
.ulMod{
    height: 300px;
    overflow: auto;
    min-width: 500px;
    margin-left: 5%;
}





.example-animate-container {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}
.highlight{
    text-shadow: 0px 0px 20px white, 0 0 10px white;
}
.resultPanel{
    background-color: rgba(37, 37, 39, 0.89);
    border-style: solid;
    border-width: 1px;
    border-color: azure;
}