<div class="col-lg-6">
    <select style="margin-bottom:20px;" ng-model="mod.name" class="form-control">
        <option value="-- --">-- --</option>
        <option value="# Life Regenerated per second"># Life Regenerated per second</option>
        <option value="#% additional Block Chance">#% additional Block Chance</option>
        <option value="#% additional Block Chance while Dual Wielding">#% additional Block Chance while Dual Wielding</option>
        <option value="#% additional Chance to Block Spells while Dual Wielding">#% additional Chance to Block Spells while Dual Wielding
        </option>
        <option value="#% additional Chance to Block Spells with Shields">#% additional Chance to Block Spells with Shields</option>
        <option value="#% additional Chance to Block Spells with Staves">#% additional Chance to Block Spells with Staves</option>
        <option value="#% additional Chance to Block with Shields">#% additional Chance to Block with Shields</option>
        <option value="#% additional Chance to Block with Staves">#% additional Chance to Block with Staves</option>
        <option value="#% additional Elemental Resistances during Flask effect">#% additional Elemental Resistances during Flask effect
        </option>
        <option value="#% chance to Freeze">#% chance to Freeze</option>
        <option value="#% chance to gain a Flask Charge when you deal a Critical Strike">#% chance to gain a Flask Charge when you deal a
            Critical Strike
        </option>
        <option value="#% chance to Ignite">#% chance to Ignite</option>
        <option value="#% chance to Knock Enemies Back on hit">#% chance to Knock Enemies Back on hit</option>
        <option value="#% chance to Shock">#% chance to Shock</option>
        <option value="#% faster start of Energy Shield Recharge">#% faster start of Energy Shield Recharge</option>
        <option value="#% increased Accuracy Rating">#% increased Accuracy Rating</option>
        <option value="#% increased Area Damage">#% increased Area Damage</option>
        <option value="#% increased Armour">#% increased Armour</option>
        <option value="#% increased Armour and Energy Shield">#% increased Armour and Energy Shield</option>
        <option value="#% increased Armour and Evasion">#% increased Armour and Evasion</option>
        <option value="#% increased Armour during Flask effect">#% increased Armour during Flask effect</option>
        <option value="#% increased Armour, Evasion and Energy Shield">#% increased Armour, Evasion and Energy Shield</option>
        <option value="#% increased Attack and Cast Speed">#% increased Attack and Cast Speed</option>
        <option value="#% increased Attack Speed">#% increased Attack Speed</option>
        <option value="#% increased Attack Speed while Dual Wielding">#% increased Attack Speed while Dual Wielding</option>
        <option value="#% increased Attack Speed while holding a Shield">#% increased Attack Speed while holding a Shield</option>
        <option value="#% increased Attack Speed with Axes">#% increased Attack Speed with Axes</option>
        <option value="#% increased Attack Speed with Bows">#% increased Attack Speed with Bows</option>
        <option value="#% increased Attack Speed with Claws">#% increased Attack Speed with Claws</option>
        <option value="#% increased Attack Speed with Daggers">#% increased Attack Speed with Daggers</option>
        <option value="#% increased Attack Speed with Maces">#% increased Attack Speed with Maces</option>
        <option value="#% increased Attack Speed with One Handed Melee Weapons">#% increased Attack Speed with One Handed Melee Weapons
        </option>
        <option value="#% increased Attack Speed with Staves">#% increased Attack Speed with Staves</option>
        <option value="#% increased Attack Speed with Swords">#% increased Attack Speed with Swords</option>
        <option value="#% increased Attack Speed with Two Handed Melee Weapons">#% increased Attack Speed with Two Handed Melee Weapons
        </option>
        <option value="#% increased Attack Speed with Wands">#% increased Attack Speed with Wands</option>
        <option value="#% increased Cast Speed">#% increased Cast Speed</option>
        <option value="#% increased Cast Speed while Dual Wielding">#% increased Cast Speed while Dual Wielding</option>
        <option value="#% increased Cast Speed while holding a Shield">#% increased Cast Speed while holding a Shield</option>
        <option value="#% increased Cast Speed while wielding a Staff">#% increased Cast Speed while wielding a Staff</option>
        <option value="#% increased Cast Speed with Cold Skills">#% increased Cast Speed with Cold Skills</option>
        <option value="#% increased Cast Speed with Fire Skills">#% increased Cast Speed with Fire Skills</option>
        <option value="#% increased Cast Speed with Lightning Skills">#% increased Cast Speed with Lightning Skills</option>
        <option value="#% increased Chaos Damage">#% increased Chaos Damage</option>
        <option value="#% increased Charge Recovery">#% increased Charge Recovery</option>
        <option value="#% increased Cold Damage">#% increased Cold Damage</option>
        <option value="#% increased Critical Strike Chance">#% increased Critical Strike Chance</option>
        <option value="#% increased Critical Strike Chance for Spells">#% increased Critical Strike Chance for Spells</option>
        <option value="#% increased Critical Strike Chance with Cold Skills">#% increased Critical Strike Chance with Cold Skills</option>
        <option value="#% increased Critical Strike Chance with Elemental Skills">#% increased Critical Strike Chance with Elemental
            Skills
        </option>
        <option value="#% increased Critical Strike Chance with Fire Skills">#% increased Critical Strike Chance with Fire Skills</option>
        <option value="#% increased Critical Strike Chance with Lightning Skills">#% increased Critical Strike Chance with Lightning
            Skills
        </option>
        <option value="#% increased Critical Strike Chance with One Handed Melee Weapons">#% increased Critical Strike Chance with One
            Handed Melee Weapons
        </option>
        <option value="#% increased Critical Strike Chance with Two Handed Melee Weapons">#% increased Critical Strike Chance with Two
            Handed Melee Weapons
        </option>
        <option value="#% increased Damage">#% increased Damage</option>
        <option value="#% increased Damage over Time">#% increased Damage over Time</option>
        <option value="#% increased Elemental Damage with Weapons">#% increased Elemental Damage with Weapons</option>
        <option value="#% increased Energy Shield">#% increased Energy Shield</option>
        <option value="#% increased Energy Shield Recharge Rate">#% increased Energy Shield Recharge Rate</option>
        <option value="#% increased Evasion and Energy Shield">#% increased Evasion and Energy Shield</option>
        <option value="#% increased Evasion Rating">#% increased Evasion Rating</option>
        <option value="#% increased Evasion Rating during Flask effect">#% increased Evasion Rating during Flask effect</option>
        <option value="#% increased Fire Damage">#% increased Fire Damage</option>
        <option value="#% increased Flask Charges gained">#% increased Flask Charges gained</option>
        <option value="#% increased Flask effect duration">#% increased Flask effect duration</option>
        <option value="#% increased Flask Life Recovery rate">#% increased Flask Life Recovery rate</option>
        <option value="#% increased Flask Mana Recovery rate">#% increased Flask Mana Recovery rate</option>
        <option value="#% increased Freeze Duration on Enemies">#% increased Freeze Duration on Enemies</option>
        <option value="#% increased Global Critical Strike Chance">#% increased Global Critical Strike Chance</option>
        <option value="#% increased Ignite Duration on Enemies">#% increased Ignite Duration on Enemies</option>
        <option value="#% increased Life Leeched per second">#% increased Life Leeched per second</option>
        <option value="#% increased Life Recovered">#% increased Life Recovered</option>
        <option value="#% increased Light Radius">#% increased Light Radius</option>
        <option value="#% increased Lightning Damage">#% increased Lightning Damage</option>
        <option value="#% increased Mana Regeneration Rate">#% increased Mana Regeneration Rate</option>
        <option value="#% increased maximum Energy Shield">#% increased maximum Energy Shield</option>
        <option value="#% increased maximum Life">#% increased maximum Life</option>
        <option value="#% increased maximum Mana">#% increased maximum Mana</option>
        <option value="#% increased Melee Critical Strike Chance">#% increased Melee Critical Strike Chance</option>
        <option value="#% increased Melee Damage">#% increased Melee Damage</option>
        <option value="#% increased Melee Physical Damage while holding a Shield">#% increased Melee Physical Damage while holding a
            Shield
        </option>
        <option value="#% increased Mine Damage">#% increased Mine Damage</option>
        <option value="#% increased Mine Laying Speed">#% increased Mine Laying Speed</option>
        <option value="#% increased Movement Speed">#% increased Movement Speed</option>
        <option value="#% increased Movement Speed during Flask effect">#% increased Movement Speed during Flask effect</option>
        <option value="#% increased Physical Damage">#% increased Physical Damage</option>
        <option value="#% increased Physical Damage with Axes">#% increased Physical Damage with Axes</option>
        <option value="#% increased Physical Damage with Bows">#% increased Physical Damage with Bows</option>
        <option value="#% increased Physical Damage with Claws">#% increased Physical Damage with Claws</option>
        <option value="#% increased Physical Damage with Daggers">#% increased Physical Damage with Daggers</option>
        <option value="#% increased Physical Damage with Maces">#% increased Physical Damage with Maces</option>
        <option value="#% increased Physical Damage with One Handed Melee Weapons">#% increased Physical Damage with One Handed Melee
            Weapons
        </option>
        <option value="#% increased Physical Damage with Staves">#% increased Physical Damage with Staves</option>
        <option value="#% increased Physical Damage with Swords">#% increased Physical Damage with Swords</option>
        <option value="#% increased Physical Damage with Two Handed Melee Weapons">#% increased Physical Damage with Two Handed Melee
            Weapons
        </option>
        <option value="#% increased Physical Damage with Wands">#% increased Physical Damage with Wands</option>
        <option value="#% increased Physical Weapon Damage while Dual Wielding">#% increased Physical Weapon Damage while Dual Wielding
        </option>
        <option value="#% increased Projectile Damage">#% increased Projectile Damage</option>
        <option value="#% increased Projectile Speed">#% increased Projectile Speed</option>
        <option value="#% increased Quantity of Items found">#% increased Quantity of Items found</option>
        <option value="#% increased Rarity of Fish Caught">#% increased Rarity of Fish Caught</option>
        <option value="#% increased Rarity of Items found">#% increased Rarity of Items found</option>
        <option value="#% increased Recovery Speed">#% increased Recovery Speed</option>
        <option value="#% increased Shock Duration on Enemies">#% increased Shock Duration on Enemies</option>
        <option value="#% increased Spell Damage">#% increased Spell Damage</option>
        <option value="#% increased Spell Damage while Dual Wielding">#% increased Spell Damage while Dual Wielding</option>
        <option value="#% increased Spell Damage while holding a Shield">#% increased Spell Damage while holding a Shield</option>
        <option value="#% increased Spell Damage while wielding a Staff">#% increased Spell Damage while wielding a Staff</option>
        <option value="#% increased Stun Duration on Enemies">#% increased Stun Duration on Enemies</option>
        <option value="#% increased Stun Recovery">#% increased Stun Recovery</option>
        <option value="#% increased Stun Recovery during Flask effect">#% increased Stun Recovery during Flask effect</option>
        <option value="#% increased Stun Recovery during flask effect">#% increased Stun Recovery during flask effect</option>
        <option value="#% increased Totem Damage">#% increased Totem Damage</option>
        <option value="#% increased Totem Life">#% increased Totem Life</option>
        <option value="#% increased Trap Damage">#% increased Trap Damage</option>
        <option value="#% increased Trap Throwing Speed">#% increased Trap Throwing Speed</option>
        <option value="#% increased Weapon Critical Strike Chance while Dual Wielding">#% increased Weapon Critical Strike Chance while Dual
            Wielding
        </option>
        <option value="#% of Physical Attack Damage Leeched as Life">#% of Physical Attack Damage Leeched as Life</option>
        <option value="#% of Physical Attack Damage Leeched as Life during Flask effect">#% of Physical Attack Damage Leeched as Life during
            Flask effect
        </option>
        <option value="#% of Physical Attack Damage Leeched as Mana">#% of Physical Attack Damage Leeched as Mana</option>
        <option value="#% of Physical Attack Damage Leeched as Mana during Flask effect">#% of Physical Attack Damage Leeched as Mana during
            Flask effect
        </option>
        <option value="#% of Physical Damage taken as Fire Damage">#% of Physical Damage taken as Fire Damage</option>
        <option value="#% reduced Amount Recovered">#% reduced Amount Recovered</option>
        <option value="#% reduced Attribute Requirements">#% reduced Attribute Requirements</option>
        <option value="#% reduced Enemy Stun Threshold">#% reduced Enemy Stun Threshold</option>
        <option value="#% reduced Fishing Pool Consumption">#% reduced Fishing Pool Consumption</option>
        <option value="#% reduced Flask Charges used">#% reduced Flask Charges used</option>
        <option value="#% reduced Mana Cost of Skills">#% reduced Mana Cost of Skills</option>
        <option value="#% reduced Recovery Speed">#% reduced Recovery Speed</option>
        <option value="+# Energy Shield gained for each Enemy hit by your Attacks">+# Energy Shield gained for each Enemy hit by your
            Attacks
        </option>
        <option value="+# Extra Charges">+# Extra Charges</option>
        <option value="+# Life gained for each Enemy hit by Attacks">+# Life gained for each Enemy hit by Attacks</option>
        <option value="+# Life gained for each Enemy hit by your Attacks">+# Life gained for each Enemy hit by your Attacks</option>
        <option value="+# Life gained on Kill">+# Life gained on Kill</option>
        <option value="+# Mana gained for each Enemy hit by your Attacks">+# Mana gained for each Enemy hit by your Attacks</option>
        <option value="+# Mana Gained on Kill">+# Mana Gained on Kill</option>
        <option value="+# to Accuracy Rating">+# to Accuracy Rating</option>
        <option value="+# to all Attributes">+# to all Attributes</option>
        <option value="+# to Armour">+# to Armour</option>
        <option value="+# to Dexterity">+# to Dexterity</option>
        <option value="+# to Dexterity and Intelligence">+# to Dexterity and Intelligence</option>
        <option value="+# to Evasion Rating">+# to Evasion Rating</option>
        <option value="+# to Intelligence">+# to Intelligence</option>
        <option value="+# to Level of Socketed Bow Gems">+# to Level of Socketed Bow Gems</option>
        <option value="+# to Level of Socketed Chaos Gems">+# to Level of Socketed Chaos Gems</option>
        <option value="+# to Level of Socketed Cold Gems">+# to Level of Socketed Cold Gems</option>
        <option value="+# to Level of Socketed Fire Gems">+# to Level of Socketed Fire Gems</option>
        <option value="+# to Level of Socketed Gems">+# to Level of Socketed Gems</option>
        <option value="+# to Level of Socketed Lightning Gems">+# to Level of Socketed Lightning Gems</option>
        <option value="+# to Level of Socketed Melee Gems">+# to Level of Socketed Melee Gems</option>
        <option value="+# to Level of Socketed Minion Gems">+# to Level of Socketed Minion Gems</option>
        <option value="+# to Level of Socketed Support Gems">+# to Level of Socketed Support Gems</option>
        <option value="+# to maximum Energy Shield">+# to maximum Energy Shield</option>
        <option value="+# to maximum Life">+# to maximum Life</option>
        <option value="+# to maximum Mana">+# to maximum Mana</option>
        <option value="+# to Strength">+# to Strength</option>
        <option value="+# to Strength and Dexterity">+# to Strength and Dexterity</option>
        <option value="+# to Strength and Intelligence">+# to Strength and Intelligence</option>
        <option value="+#% Chance to Block">+#% Chance to Block</option>
        <option value="+#% Chance to Block with Shields">+#% Chance to Block with Shields</option>
        <option value="+#% to all Elemental Resistances">+#% to all Elemental Resistances</option>
        <option value="+#% to Chaos Resistance">+#% to Chaos Resistance</option>
        <option value="+#% to Cold and Lightning Resistances">+#% to Cold and Lightning Resistances</option>
        <option value="+#% to Cold Resistance">+#% to Cold Resistance</option>
        <option value="+#% to Critical Strike Multiplier for Spells">+#% to Critical Strike Multiplier for Spells</option>
        <option value="+#% to Critical Strike Multiplier while Dual Wielding">+#% to Critical Strike Multiplier while Dual Wielding</option>
        <option value="+#% to Critical Strike Multiplier with Cold Skills">+#% to Critical Strike Multiplier with Cold Skills</option>
        <option value="+#% to Critical Strike Multiplier with Elemental Skills">+#% to Critical Strike Multiplier with Elemental Skills
        </option>
        <option value="+#% to Critical Strike Multiplier with Fire Skills">+#% to Critical Strike Multiplier with Fire Skills</option>
        <option value="+#% to Critical Strike Multiplier with Lightning Skills">+#% to Critical Strike Multiplier with Lightning Skills
        </option>
        <option value="+#% to Critical Strike Multiplier with One Handed Melee Weapons">+#% to Critical Strike Multiplier with One Handed
            Melee Weapons
        </option>
        <option value="+#% to Critical Strike Multiplier with Two Handed Melee Weapons">+#% to Critical Strike Multiplier with Two Handed
            Melee Weapons
        </option>
        <option value="+#% to Fire and Cold Resistances">+#% to Fire and Cold Resistances</option>
        <option value="+#% to Fire and Lightning Resistances">+#% to Fire and Lightning Resistances</option>
        <option value="+#% to Fire Resistance">+#% to Fire Resistance</option>
        <option value="+#% to Global Critical Strike Multiplier">+#% to Global Critical Strike Multiplier</option>
        <option value="+#% to Lightning Resistance">+#% to Lightning Resistance</option>
        <option value="+#% to Melee Critical Strike Multiplier">+#% to Melee Critical Strike Multiplier</option>
        <option value="+#% to Quality of Socketed Support Gems">+#% to Quality of Socketed Support Gems</option>
        <option value="-# to Mana Cost of Skills">-# to Mana Cost of Skills</option>
        <option value="100% increased Recovery when on Low Life">100% increased Recovery when on Low Life</option>
        <option value="135% increased Recovery Speed">135% increased Recovery Speed</option>
        <option value="33% reduced Recovery Speed">33% reduced Recovery Speed</option>
        <option value="50% increased Amount Recovered">50% increased Amount Recovered</option>
        <option value="50% increased Recovery Speed">50% increased Recovery Speed</option>
        <option value="50% of Recovery applied Instantly">50% of Recovery applied Instantly</option>
        <option value="60% increased Mana Recovered">60% increased Mana Recovered</option>
        <option value="Adds #-# Chaos Damage">Adds #-# Chaos Damage</option>
        <option value="Adds #-# Cold Damage">Adds #-# Cold Damage</option>
        <option value=" Adds #-# Cold Damage to Attacks"> Adds #-# Cold Damage to Attacks</option>
        <option value="Adds #-# Cold Damage to Spells">Adds #-# Cold Damage to Spells</option>
        <option value="Adds #-# Fire Damage">Adds #-# Fire Damage</option>
        <option value="Adds #-# Fire Damage to Attacks">Adds #-# Fire Damage to Attacks</option>
        <option value="Adds #-# Fire Damage to Spells">Adds #-# Fire Damage to Spells</option>
        <option value="Adds #-# Lightning Damage">Adds #-# Lightning Damage</option>
        <option value="Adds #-# Lightning Damage to Attacks">Adds #-# Lightning Damage to Attacks</option>
        <option value="Adds #-# Lightning Damage to Spells">Adds #-# Lightning Damage to Spells</option>
        <option value="Adds #-# Physical Damage">Adds #-# Physical Damage</option>
        <option value="Adds #-# Physical Damage to Attacks">Adds #-# Physical Damage to Attacks</option>
        <option value="Adds Knockback to Melee Attacks during Flask effect">Adds Knockback to Melee Attacks during Flask effect</option>
        <option value="Cannot be Frozen">Cannot be Frozen</option>
        <option value="Causes Bleeding on Hit">Causes Bleeding on Hit</option>
        <option value="Damage Penetrates #% Lightning Resistance">Damage Penetrates #% Lightning Resistance</option>
        <option value="Eternal Iron Hook">Eternal Iron Hook</option>
        <option value="Ezomite Shell Hook">Ezomite Shell Hook</option>
        <option value="Grants #% of Life Recovery to Minions">Grants #% of Life Recovery to Minions</option>
        <option value="Hits can't be Evaded">Hits can't be Evaded</option>
        <option value="Immunity to Bleeding during Flask effect">Immunity to Bleeding during Flask effect</option>
        <option value="Immunity to Curses during Flask effect">Immunity to Curses during Flask effect</option>
        <option value="Immunity to Freeze and Chill during Flask effect">Immunity to Freeze and Chill during Flask effect</option>
        <option value="Immunity to Ignite during Flask effect">Immunity to Ignite during Flask effect</option>
        <option value="Immunity to Shock during Flask effect">Immunity to Shock during Flask effect</option>
        <option value="Instant Recovery">Instant Recovery</option>
        <option value="Instant Recovery when on Low Life">Instant Recovery when on Low Life</option>
        <option value="Karui Stone Hook">Karui Stone Hook</option>
        <option value="Minions deal #% increased Damage">Minions deal #% increased Damage</option>
        <option value="Minions have #% Chance to Block">Minions have #% Chance to Block</option>
        <option value="Minions have #% increased maximum Life">Minions have #% increased maximum Life</option>
        <option value="Minions have +#% to all Elemental Resistances">Minions have +#% to all Elemental Resistances</option>
        <option value="Recharges 1 Charge when you deal a Critical Strike">Recharges 1 Charge when you deal a Critical Strike</option>
        <option value="Recharges 3 Charges when you take a Critical Strike">Recharges 3 Charges when you take a Critical Strike</option>
        <option value="Reflects # Physical Damage to Melee Attackers">Reflects # Physical Damage to Melee Attackers</option>
        <option value="Removes 10% of Life Recovered from Mana when used">Removes 10% of Life Recovered from Mana when used</option>
        <option value="Removes 15% of Mana Recovered from Life when used">Removes 15% of Mana Recovered from Life when used</option>
        <option value="Removes Bleeding on use">Removes Bleeding on use</option>
        <option value="Removes Curses on use">Removes Curses on use</option>
        <option value="Removes Freeze and Chill on use">Removes Freeze and Chill on use</option>
        <option value="Removes Shock on use">Removes Shock on use</option>
        <option value="Totems gain +#% to all Elemental Resistances">Totems gain +#% to all Elemental Resistances</option>
        <option value="Your Flasks grant #% increased Rarity of Items found during flask effect">Your Flasks grant #% increased Rarity of
            Items found during flask effect
        </option>
        <option value="Your Flasks grant #% increased Rarity of Items found while using a Flask">Your Flasks grant #% increased Rarity of
            Items found while using a Flask
        </option>
        <option value="#% Chance to Block">#% Chance to Block</option>
        <option value="#% Chance to Block during Flask effect">#% Chance to Block during Flask effect</option>
        <option value="#% Chance to Block Spells">#% Chance to Block Spells</option>
        <option value="#% Chance to Block Spells during Flask effect">#% Chance to Block Spells during Flask effect</option>
        <option value="#% chance to Cast Socketed Lightning Spells on Hit">#% chance to Cast Socketed Lightning Spells on Hit</option>
        <option value="#% chance to Dodge Spell Damage">#% chance to Dodge Spell Damage</option>
        <option value="#% chance to gain a Frenzy Charge on Kill">#% chance to gain a Frenzy Charge on Kill</option>
        <option value="#% chance to gain a Power Charge on Kill">#% chance to gain a Power Charge on Kill</option>
        <option value="#% increased Charges used">#% increased Charges used</option>
        <option value="#% increased Critical Strike Chance against Blinded Enemies">#% increased Critical Strike Chance against Blinded
            Enemies
        </option>
        <option value="#% increased Dexterity">#% increased Dexterity</option>
        <option value="#% increased Elemental Damage">#% increased Elemental Damage</option>
        <option value="#% increased Intelligence">#% increased Intelligence</option>
        <option value="#% increased Physical Damage taken">#% increased Physical Damage taken</option>
        <option value="#% increased Quantity of Items found during Flask effect">#% increased Quantity of Items found during Flask effect
        </option>
        <option value="#% increased Rarity of Items found during Flask effect">#% increased Rarity of Items found during Flask effect
        </option>
        <option value="#% increased Strength">#% increased Strength</option>
        <option value="#% more Unarmed Physical Damage">#% more Unarmed Physical Damage</option>
        <option value="#% of Block Chance applied to Spells">#% of Block Chance applied to Spells</option>
        <option value="#% of Cold Damage Leeched as Life">#% of Cold Damage Leeched as Life</option>
        <option value="#% of Fire Damage Leeched as Life">#% of Fire Damage Leeched as Life</option>
        <option value="#% of Life Regenerated per Second per Frenzy Charge">#% of Life Regenerated per Second per Frenzy Charge</option>
        <option value="#% of Lightning Damage Leeched as Life">#% of Lightning Damage Leeched as Life</option>
        <option value="#% of Physical Damage Leeched as Life">#% of Physical Damage Leeched as Life</option>
        <option value="#% of Physical Damage taken as Lightning Damag">#% of Physical Damage taken as Lightning Damage</option>
        <option value="#% reduced Flask effect duration">#% reduced Flask effect duration</option>
        <option value="#% reduced Intelligence">#% reduced Intelligence</option>
        <option value="#% reduced maximum Mana">#% reduced maximum Mana</option>
        <option value="#% reduced Spell Damage">#% reduced Spell Damage</option>
        <option value="#% reduced Totem Damage">#% reduced Totem Damage</option>
        <option value="+# Energy Shield gained on Kill">+# Energy Shield gained on Kill</option>
    </select>
</div>
<div class="col-lg-6">
    <div class="col-lg-3">
        <input ng-model="mod.minValue" class="form-control" type="number" placeholder="min" name="min">
    </div>
    <div class="col-lg-3">
        <input ng-model="mod.maxValue" class="form-control" type="number" placeholder="max" name="max">
    </div>
    <div class="col-lg-3">
        <span>
            <i ng-click="removeMod($index)" style="cursor: pointer; font-size:1.5em; display:block; text-align:center;" class="glyphicon glyphicon-remove removeBtn">

            </i>
        </span>
    </div>
</div>
